@import './base/typography';
@import './base/home';
@import './base/reset';

@import './components/guess_who_board.scss';
@import './components/buttons.scss';

body {
    background-color: #1d201f;
}
.app {
    height: 100%;
    padding: 2rem;
}

.page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gap {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.scrollToTop {
    position: sticky;
    bottom: 10px;
    right: 5px;
    z-index: 50;
    cursor: pointer;
    display: inline-block;
}

.p-4 {
    padding: 1rem;
}