.flipped{
  /* display: none; */
  width: 10px;
  height: 20px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Red_X.svg/1200px-Red_X.svg.png");
  content: "";
  z-index: 3;
}

.selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 50;
}
.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  width: 70%;
}

.row {
  display: flex;

}

.character {
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin: 5px;
  position: relative;
  &-flipped::after {
    content: url("https://upload.wikimedia.org/wikipedia/commons/5/5f/Red_X.svg");
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 5px;
  background-color: rgba(31, 54, 61, 0.8);
  font-size: 1.5rem;
  font-weight: bold;
}

.react-tooltip {
  font-size: 1.85rem !important;
  background-color: rgba(31, 54, 61, 0.8);
}